.box {
  background-color: $color-menu;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  h6 {
    text-transform: uppercase;
    padding: 17px 25px 0px;
    color: $color-primary;
  }

  .box__titulo {
    padding: 20px 25px 0px;
    border-bottom: 1px solid $color-border;
  }
  .box__conteudo {
    padding: 30px 25px 45px;
  }
}
