
.btn,button{
  display: inline-block;
    margin: 0px ;
    position: relative ;
    text-align: center ;
    text-decoration: none ;
    width: auto ;
    cursor: pointer ;
    border-radius: 4px ;
    font-size: 1rem ;
    line-height: 24px ;
    letter-spacing: normal ;
    font-family: $font-primary;
    padding-top: 10px ;
    padding-bottom: 10px ;
    font-weight: 700 ;
    padding-left: 22px ;
    padding-right: 22px ;
    min-width: 71.19349550499538px ;
    border: none;

  &:active,&:focus{
    outline: none;
  }


  &.btn-primary{
    background-color: $color-primary;
    color:white;
    
    .icone{      
    fill:white;
    }
  }
  
  &.btn-secondary{
    background-color: $color-secondary;
    color:white; 

    .icone{      
    fill:white;
    }
  }
  
  &.btn-branco{
    background-color: white;
    color:$color-primary;
  }
  &.btn-google{
    background-color: white;
    border:1px solid #d3d3d3;
    color:#6f6f6f; 
    .icone{      
    fill:white;
    }
  }
  &.btn-facebook{
    background-color: #415dae;
    color:white;
  }
  &.btn-icone{
    padding-left: 3rem;
    padding-right: 1rem;
  }
  

  &.btn-link{
    &.primary{
      color:$color-primary
    }
    &.secondary{
      color:$color-secondary
    }
  }
  
  .icone{
    left: 1rem;
    right: initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 1.5rem;

    &.centralizado{
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}