.btn,
button {
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: normal;
  font-family: $font-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 71.19349550499538px;
  border: none;

  &.sm {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.btn-primary {
    background-color: $color-secondary;
    color: $color-primary;

    .icone {
      fill: $color-white;
    }
  }

  &.btn-secondary {
    background-color: $color-primary;
    color: $color-secondary;

    .icone {
      fill: $color-primary;
    }
  }

  &.btn-branco {
    background-color: $color-white;
    color: $color-primary;
  }
  &.btn-google {
    background-color: $color-primary;
    border: 1px solid #d3d3d3;
    color: #6f6f6f;
    .icone {
      fill: $color-primary;
    }
  }
  &.btn-facebook {
    background-color: #415dae;
    color: $color-primary;
  }
  &.btn-icone {
    padding-left: 3rem;
    padding-right: 1rem;
  }

  &.btn-link {
    background-color: transparent;
    &.primary {
      color: $color-primary;
    }
    &.secondary {
      color: $color-secondary;
    }
  }

  &.btn-transparente {
    background-color: transparent;
    &.primary {
      border: 1px solid $color-primary;
      color: $color-primary;
    }
    &.secondary {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }

  .icone {
    left: 1rem;
    right: initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 1.5rem;

    &.centralizado {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
