.perfil__dados {
  display: flex;
  flex-wrap: wrap;

  .perfil__logado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
      color: $color-primary;
      font-weight: 700;
      margin-left: 50px;
    }
  }
}
