.posts {
  .post__titulo {
    margin-bottom: 0.5rem;
    padding-bottom: 8px;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;

    span {
      color: $color-off3;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 4px;
        width: 100%;
        height: 7px;
        background-color: $color-off3;
        opacity: 0.3;
      }
    }
    svg {
      vertical-align: middle;
      width: 18px;
      margin-left: 4px;
    }
  }

  .destaque {
    .post__box {
      .post__foto {
        padding-top: 100%;
      }
    }
  }

  .post__box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;

    .post__foto {
      position: relative;
      width: 100%;
      padding-top: 75%;
      background-color: rgb(202, 202, 202);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .post__info {
      background-color: $color-white;
      padding: 8px;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;

      .post__nome {
        border-bottom: 1px solid $color-border;
        color: $color-primary;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        span {
          color: $color-text;
          font-weight: 500;
        }
      }

      .post__dados {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        span {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          svg {
            width: 13px;
            margin-right: 3px;
          }
        }
      }
      .post__descricao {
        color: $color-text;
      }
    }
  }
}
