.login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 60px 100px;
  height: 100vh;

  .box {
    max-width: 480px;
    box-shadow: none;

    .box__titulo {
      padding: 20px 55px 0px;
      text-align: center;
    }
    .box__conteudo {
      padding: 30px 55px 45px;
    }
  }

  svg {
    margin-bottom: 2rem;
  }
}
