.login {
  height: 100vh;

  .login__box {
    height: 100%;
    background-color: $color-white;
    width: 42vw;
    min-width: 574px;
    padding: 0 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .login__form {
      width: 100%;
    }
  }

  svg {
    margin-bottom: 2rem;
  }
}
