.Titlebar {
  /* -webkit-app-region: drag; */
  width: 100%;
  position: fixed;
  top: 0;

  & .Titlebar__drag-region {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-app-region: drag;
  }
}

.resizer {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
}

.Title-Bar {
  top: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  font-family: $font-primary;
  position: relative;
}

.Title-Bar-inactive {
  top: 0px;
  width: 100%;
  height: 30px;
  background-color: transparent;
  display: flex;
  position: relative;
}

.Title-Bar__section-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  position: relative;
}

.section-icon__title {
  padding-left: 5px;
  font-size: 11px;
}

.Title-Bar__section-menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 13vw;
  max-width: 150px;
}

.section-menubar_button {
  padding-left: 10px;
  padding-right: 10px;
}

.Title-Bar__section-center {
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  color: #616161;
  font-weight: 400;
}

.Title-Bar__section-windows-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90px;
  /* needs no-drag for color changing div*/
  -webkit-app-region: no-drag;
}

.section-windows-control_box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.05s ease-in;
}

.minimize-active_logo {
  fill: #525252;
  transition: all 0.05s ease-in;
}

.minimize-active_logo:hover {
  fill: #f8b92b;
  transition: all 0.05s ease-in;
}

.minimize-inactive_logo {
  fill: #3f3f3f;
  transition: all 0.05s ease-in;
}

.minimize-inactive_logo:hover {
  fill: #f8b92b;
  transition: all 0.05s ease-in;
}

.maximize-active_logo {
  fill: #525252;
  transition: all 0.05s ease-in;
}

.maximize-active_logo:hover {
  fill: #2bc73b;
  transition: all 0.05s ease-in;
}

.maximize-inactive_logo {
  fill: #3f3f3f;
  transition: all 0.05s ease-in;
}

.maximize-inactive_logo:hover {
  fill: #2bc73b;
  transition: all 0.05s ease-in;
}

.unmaximize-active_logo {
  fill: #525252;
  transition: all 0.05s ease-in;
}

.unmaximize-active_logo:hover {
  fill: #2bc73b;
  transition: all 0.05s ease-in;
}

.unmaximize-inactive_logo {
  fill: #3f3f3f;
  transition: all 0.05s ease-in;
}

.unmaximize-inactive_logo:hover {
  fill: #2bc73b;
  transition: all 0.05s ease-in;
}

.close-active_logo {
  fill: #525252;
  transition: all 0.05s ease-in;
}

.close-active_logo:hover {
  fill: #f35d58;
  transition: all 0.05s ease-in;
}

.close-inactive_logo {
  fill: #3f3f3f;
  transition: all 0.05s ease-in;
}

.close-inactive_logo:hover {
  fill: #f35d58;
  transition: all 0.05s ease-in;
}
