.Searchbar {
  height: 100vh;
  min-width: 225px;
  width: 16.5vw;
  background-color: #f8f9fd;
  padding: 0 24px;
  color: $color-secondary;

  .searchbar__form {
    flex: 1;
    position: relative;
    margin-top: 1rem;

    button {
      margin-top: 1rem;
    }
  }
}
