.Searchbar {
  height: 60px;
  width: 100%;
  background-color: $color-menu;
  border-bottom: 1px solid $color-border;
  padding: 0;
  overflow: hidden;
  color: $color-secondary;
  z-index: 1;
  border-radius: 25px 0 0 0;
  box-shadow: 0px 27px 13px -14px #e9f1f7;

  .searchbar__form {
    flex: 1;
    position: relative;
    margin-top: 1rem;

    button {
      margin-top: 1rem;
    }
  }
}
