/**
 * Global variables
 */

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;
$bp-ultrawide: 1580px;

// Colors

$color-primary: #D41B3B !default;
$color-secondary: #1A2E4C !default;
$color-text: rgb(113, 113, 113)  !default;
$color-border:#E7EBEE !default;
$color-text-secondary: #8890A1 !default;
$color-gray:#f2f2f2;
$color-error: #f14668 !default;
// Fonts

$font-base-size: 15px !default;
$font-primary: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'!important;

// Miscellaneous
$image-path: '/assets/images';

$inputHeight: 44px !default;
$inputHeightMobile: 50px !default;


$border-radius: 4px !default;
