/**
 * Global variables
 */

// Breakpoints

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;
$bp-ultrawide: 1580px;

// Colors

$color-primary: #d41b3b !default;
$color-secondary: #1a2e4c !default;
$color-error: #f14668 !default;
$color-bg: #211f39 !default;
// Fonts

$font-base-size: 16px !default;
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

// Miscellaneous
$image-path: "/assets/images";

$inputHeight: 44px !default;
$inputHeightMobile: 50px !default;

$border-radius: 4px !default;
$box-shadow: 0px 0px 15px 0px rgba(16, 0, 41, 0.26) !default;
