a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

::selection {
  color: none;
  background: none;
}

input::selection {
  color: $color-white;
  background: $color-primary;
}

html {
  overflow-y: hidden;
}

.__lock {
  overflow: hidden;
}

.container-fluid {
  @include min-width($bp-ultrawide) {
    max-width: 1366px;
  }
}

.flex-1 {
  flex: 1;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: $color-bg;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 12px;
}

ul {
  &.placeholder {
    list-style: none;
    width: 100%;

    li {
      border-top: 1px dashed #e8e8e8;
      height: 60px;
    }

    li:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.fade-exit {
  opacity: 0;
  animation: slideIn 0.4s ease;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
  animation: slideOut 0.4s ease;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

@keyframes slideIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  90% {
    transform: translate(0, 100px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
